@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	display: grid;
	place-content: center;
	font-family: "Fira Sans", sans-serif;
	font-weight: 200;
	padding: 5rem 2rem;
}
.container {
	width: 90vw;
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
}
.card {
	text-decoration: none;
}
.card img {
	max-width: 100%;
	display: block;
}
.card h2 {
	color: #222;
	text-align: center;
}
.back{
	position: absolute;
	top: 15px;
	left: 15px;
}