@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
	background-color: #a9e8ff;
	overflow-x: hidden;
}
#main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 3rem 1rem;
}
h2{
	text-align: center;
	margin: 1rem;
}
.card{
	width: 100%;
	max-width: 400px;
	height: 200px;
	background-color: #7745ff;
	margin: 1rem;
	display: grid;
	place-content: center;
	font-size: 3rem;
	color: #fafafa;
	border-radius: 12px;
	box-shadow: 4px 4px 16px rgba(54, 54, 54, 0.3);
	transform: translateX(400%);
	transition: transform .4s ease;
}
.card:nth-of-type(even){
	transform: translateX(-400%);
}
.card.show{
	transform: translateX(0);
}